<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>{% block title %}Панель Менеджера{% endblock %}</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <span class="logo_name"> IT Portal </span>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="{{ url_for('manager_views.manager_dashboard') }}">
                    <i class="uil uil-clipboard-notes"></i>
                    <span class="link-name"> Керування заявками </span>
                </a></li>
                <li><a href="{{ url_for('manager_views.manage_new_requests') }}">
                    <i class="uil uil-clipboard-notes"></i>
                    <span class="link-name"> Заявки без виконавця </span>
                </a></li>
                <li><a href="{{url_for('manager_views.manage_devices')}}">
                    <i class="uil uil-laptop"></i>
                    <span class="link-name"> Пристрої відділу </span>
                </a></li>
                <li><a href="{{ url_for('manager_views.manage_workers') }}">
                    <i class="uil uil-users-alt"></i>
                    <span class="link-name"> Мої працівники </span>
                </a></li>
            </ul>
            <ul class="logout-mod">
                <li><a href="{{ url_for('manager_views.manager_profile') }}">
                    <i class="uil uil-user-circle"></i>
                    <span class="link-name"> Мій профіль</span>
                </a></li>
                <li><a href="{{ url_for('auth.logout') }}">
                    <i class="uil uil-signout"></i>
                    <span class="link-name"> Вийти </span>
                </a></li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </section>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>